<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.bundlemaker.analysis.ui.dependencyView">
      <dependencyView
            class="org.bundlemaker.analysis.ui.xref.views.XRefView"
            name="XRefs">
      </dependencyView>
   </extension>

    <!-- the pop up menus --> 
       <extension 
         point="org.eclipse.ui.handlers"> 
      <handler class="org.bundlemaker.analysis.ui.xref.handler.OpenXRefViewHandler" 
            commandId="org.bundlemaker.analysis.ui.xref.commands.OpenXRefViewCommand"> 
         <activeWhen> 
         <reference 
               definitionId="org.bundlemaker.analysis.ui.artifactContentSelected"> 
         </reference> 
         </activeWhen> 
         <enabledWhen> 
          <reference 
               definitionId="org.bundlemaker.analysis.ui.artifactContentSelected"> 
               </reference> 
         </enabledWhen> 
      </handler> 
</extension>
   <extension point="org.eclipse.ui.commands"> 
      <command id="org.bundlemaker.analysis.ui.xref.commands.OpenXRefViewCommand" 
              name="Open XRef view" /> 
   </extension>
   <!-- XRef Submenu -->
   <extension point="org.eclipse.ui.menus"> 
           <menuContribution 
    	locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions"> 
		<separator
			name="org.bundlemaker.analysis.ui.xref.separator"
		    visible="true">
		</separator>
	 	<command
	    	commandId="org.bundlemaker.analysis.ui.xref.commands.OpenXRefViewCommand"
	        style="push">
	        <visibleWhen checkEnabled="true" />
	     </command> 
           </menuContribution> 
   </extension> 
 
</plugin>
