<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.bundlemaker.core.ui.editor.sourceviewer.SourceViewerEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            icon="icons/bm_sourceviewer.png"
            id="org.bundlemaker.core.ui.editors.sourceViewerEditor"
            name="BundleMaker source editor"
            symbolicFontName="org.eclipse.jdt.ui.editors.textfont">
      </editor>
  </extension>

  <extension
    id="org.bundlemaker.core.ui.referencemarker"
    name="Reference"
    point="org.eclipse.core.resources.markers">
    <super
      type="org.eclipse.core.resources.textmarker">
    </super>
  </extension>

  <extension
    point="org.eclipse.ui.editors.annotationTypes" 
    id="org.bundlemaker.core.ui.referenceannotation">
    <type
      markerType="org.bundlemaker.core.ui.referencemarker"
      name="org.bundlemaker.core.ui.referencemarker">
    </type>
  </extension>
	
  <extension
    point="org.eclipse.ui.editors.markerAnnotationSpecification">
    <specification
      annotationType="org.bundlemaker.core.ui.referencemarker"
      colorPreferenceKey="org.bundlemaker.core.ui.reference.color"
      colorPreferenceValue="195,125,100"
      contributesToHeader="false"
      highlightPreferenceKey="org.bundlemaker.core.ui.reference.highlight"
      highlightPreferenceValue="true"
      includeOnPreferencePage="true"
      label="BundleMaker References"
      overviewRulerPreferenceKey="org.bundlemaker.core.ui.reference.overview"
      overviewRulerPreferenceValue="true"
      presentationLayer="0"
      showInNextPrevDropdownToolbarAction="true"
      textPreferenceKey="org.bundlemaker.core.ui.reference.text"
      textPreferenceValue="true"
      textStylePreferenceValue="BOX"
      verticalRulerPreferenceKey="org.bundlemaker.core.ui.reference.ruler"
      verticalRulerPreferenceValue="true">
    </specification>
  </extension>
   
</plugin>
