.metadata
*/*/bin/*
*/*/*CLOVER_INSTR/*
org.bundlemaker.drools.test/*
org.eclipse.pde.api.tools/*
org.eclipse.pde.api.tools.ui/*
org.bundlemaker.itest.sherlog/*
patch.mbox
/org.eclipse.draw2d.examples/
jaxb1
jaxb2
JAXBTest
_custom
.DS_Store
/External Plug-in Libraries/
