<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.bundlemaker.core.parserfactory">
      <parserfactory
            class="org.bundlemaker.core.jdt.internal.parser.JdtParserFactory">
      </parserfactory>
   </extension>
   
   <extension
         id="org.bundlemaker.core.projectdescription.file.FileBasedContentProvider"
         point="org.bundlemaker.core.projectcontentprovider">
      <projectContentProvider
      	    id="org.bundlemaker.core.projectcontentprovider.jdt"
            class="org.bundlemaker.core.jdt.content.JdtProjectContentProvider" />
   </extension>
      

</plugin>
