<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>



   <!-- the pop up menus -->
   <extension point="org.eclipse.ui.handlers">
      <handler class="org.bundlemaker.core.ui.editor.xref.handler.OpenXRefViewHandler"
         commandId="org.bundlemaker.core.ui.editor.xref.OpenXRefViewCommand">
         <activeWhen>
            <reference definitionId="org.bundlemaker.analysis.ui.artifactContentSelected"
            > </reference>
         </activeWhen>
         <enabledWhen>
            <reference definitionId="org.bundlemaker.analysis.ui.artifactContentSelected"
            > </reference>
         </enabledWhen>
      </handler>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <command id="org.bundlemaker.core.ui.editor.xref.OpenXRefViewCommand" name="Open Cross Referencer"/>
   </extension>

   <!-- XRef Submenu -->
   <extension point="org.eclipse.ui.menus">
      <!-- Replaced with 3-Way Xref -->
      <!--
      <menuContribution
         locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=org.bundlemaker.core.ui.editor.separator">
         <command commandId="org.bundlemaker.core.ui.editor.xref.OpenXRefViewCommand" style="push">
            <visibleWhen checkEnabled="true"/>
         </command>
      </menuContribution>
 	  <menuContribution
                  allPopups="false"
                  locationURI="toolbar:org.bundlemaker.core.ui.toolbar">
                  <command
                        commandId="org.bundlemaker.core.ui.editor.xref.OpenXRefViewCommand"
                        disabledIcon="icons/XRef.png"
                        icon="icons/XRef.png"
                        style="push">
                  </command>
            </menuContribution>
            -->      
   </extension>

   <!-- XREF EDITOR -->
   <extension point="org.eclipse.ui.editors">
      <editor
            class="org.bundlemaker.core.ui.editor.xref.XRefView"
            default="false"
            icon="icons/XRef.png"
            id="org.bundlemaker.core.ui.editor.xref.XRefView"
            name="Cross Referencer"> </editor>
   </extension>

</plugin>
