<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.bundlemaker.ui.newWizards"
         name="Bundlemaker Wizards"
         point="org.eclipse.ui.newWizards">
      <category
            id="org.bundlemaker.ui.wizards.category"
            name="Bundlemaker">
      </category>
      <wizard
            canFinishEarly="false"
            category="org.bundlemaker.ui.wizards.category"
            class="org.bundlemaker.ui.wizards.NewBundleMakerProjectWizard"
            hasPages="true"
            icon="icons/bundlemaker-icon.png"
            id="org.bundlemaker.ui.wizards.newwizard"
            name="Bundlemaker project"
            project="true">
         <description>
            Create a Bundlemaker project
         </description>
      </wizard>
   </extension>

</plugin>
