<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

       <!-- the pop up menus -->
      <extension point="org.eclipse.ui.commands">
            <command id="org.bundlemaker.core.ui.transformation.commands.RunTransformationScriptCommand"
                  name="Run Transformation Script"/>
      </extension>

      <extension point="org.eclipse.ui.handlers">
            <handler class="org.bundlemaker.core.ui.transformations.handlers.RunTransformationScriptHandler"
                  commandId="org.bundlemaker.core.ui.transformation.commands.RunTransformationScriptCommand">
                  <activeWhen>
                        <reference
                              definitionId="org.bundlemaker.analysis.ui.artifactContentSelected"
                        > </reference>
                  </activeWhen>
                  <enabledWhen>
                        <reference
                              definitionId="org.bundlemaker.analysis.ui.artifactContentSelected"
                        > </reference>
                  </enabledWhen>
            </handler>
      </extension>

      <!--  Submenu -->
      <extension point="org.eclipse.ui.menus">
            <menuContribution
                  locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=org.bundlemaker.core.ui.editor.separator">
                  <command
                        commandId="org.bundlemaker.core.ui.transformation.commands.RunTransformationScriptCommand"
                        style="push">
                        <visibleWhen checkEnabled="true"/>
                  </command>
            </menuContribution>
      </extension>
      
      <!-- Console Factory -->
      <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            label="BundleMaker Transformation Script Console"
            class="org.bundlemaker.core.ui.transformations.console.TransformationScriptConsoleFactory"/>
   </extension>
</plugin>
