<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!--
   <extension
       point="org.eclipse.jdt.ui.javaElementFilters">
    <filter
          class="org.bundlemaker.core.ui.internal.JavaElementFilter"
          description="Filters any bundlemaker JDT project."
          enabled="true"
          pattern="*$JDT"
          id="org.bundlemaker.core.ui.internal.JavaElementFilter"
          name="BundleMaker$JDT project filter">
    </filter>
 </extension>
 
 -->
   <extension
         id="org.bundlemaker.core.ui.newWizards"
         name="Bundlemaker Wizards"
         point="org.eclipse.ui.newWizards">
      <category
            id="org.bundlemaker.core.ui.wizards.category"
            name="Bundlemaker">
      </category>
      <wizard
            canFinishEarly="false"
            category="org.bundlemaker.core.ui.wizards.category"
            class="org.bundlemaker.core.ui.wizards.NewBundleMakerProjectWizard"
            hasPages="true"
            icon="icons/bundlemaker-icon-small.png"
            id="org.bundlemaker.core.ui.wizards.newwizard"
            name="Bundlemaker project"
            project="true">
         <description>
            Create a Bundlemaker project
         </description>
      </wizard>
   </extension>
   <extension
         id="org.bundlemaker.core.ui.editors"
         name="Bundlemaker Editors"
         point="org.eclipse.ui.editors">
      <editor
      	icon="icons/bundlemaker-icon-small.png"
            class="org.bundlemaker.core.ui.editor.ProjectDescriptionEditor"
            default="false"
            id="org.bundlemaker.core.ui.editor.projectdescription"
            name="Bundlemaker editor">
         <contentTypeBinding 
               contentTypeId="org.bundlemaker.core.ui.contenttypes.projectdescription">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         id="org.bundlemaker.core.ui.contentTypes"
         name="Bundlemaker Contenttypes"
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-names="bundlemaker.xml"
            id="org.bundlemaker.core.ui.contenttypes.projectdescription"
            name="Bundlemaker project description"
            priority="normal">
      </content-type>
   </extension>
   
   <!-- the perspective -->
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.bundlemaker.core.ui.perspective.BundleMakerPerspectiveFactory"
            icon="icons/bundlemaker-icon-small.png"
            id="org.bundlemaker.core.ui.bundlemakerperspective"
            name="BundleMaker">
      </perspective>
   </extension>
   
   <!-- the commands -->
   <extension point="org.eclipse.ui.commands">
      <command id="org.bundlemaker.core.ui.commands.PdePluginProjectExportHandler" name="PDE Plug-in Projects" /> 
   </extension>  
   <extension point="org.eclipse.ui.commands">
      <command id="org.bundlemaker.core.ui.commands.ReportExportHandler" name="Simple Report" /> 
   </extension>   
   <extension point="org.eclipse.ui.commands">
      <command id="org.bundlemaker.core.ui.commands.BinaryBundleExportHandler" name="Binary bundles" /> 
   </extension>   <extension point="org.eclipse.ui.commands">
      <command
            id="org.bundlemaker.core.ui.commands.TransformHandler"
            name="Transform..." />
   </extension>   
   <extension point="org.eclipse.ui.commands">
      <command id="org.bundlemaker.core.ui.commands.RunTransformationScript" name="Execute transformation..." /> 
   </extension> 
   <!-- the expressions -->
   <!-- An expression evaluating to true if a BMT-file has been selected -->
	<extension point="org.eclipse.core.expressions.definitions">
      <definition id="org.bundlemaker.core.ui.bmtFileSelected">
         <iterate ifEmpty="false">
         	<instanceof value="org.eclipse.core.resources.IFile" />
           <test property="org.eclipse.core.resources.name" 
                 value="*.bmt"/>
         </iterate>
      </definition>
   </extension>
   
   <!-- the handlers -->
   <extension
         point="org.eclipse.ui.handlers">
      <handler class="org.bundlemaker.core.ui.commands.PdePluginProjectExportHandler"
            commandId="org.bundlemaker.core.ui.commands.PdePluginProjectExportHandler">
         <activeWhen>
         <reference
               definitionId="org.bundlemaker.core.analysis.ui.bmContentSelected">
         </reference>
         </activeWhen>
         <enabledWhen>
          <reference
               definitionId="org.bundlemaker.core.analysis.ui.bmContentSelected">
               </reference>
         </enabledWhen>
      </handler>
   </extension> 
    <extension
         point="org.eclipse.ui.handlers">
      <handler class="org.bundlemaker.core.ui.commands.ReportExportHandler"
            commandId="org.bundlemaker.core.ui.commands.ReportExportHandler">
         <activeWhen>
         <reference
               definitionId="org.bundlemaker.core.analysis.ui.bmContentSelected">
         </reference>
         </activeWhen>
         <enabledWhen>
          <reference
               definitionId="org.bundlemaker.core.analysis.ui.bmContentSelected">
               </reference>
         </enabledWhen>
      </handler>
   </extension> 
     <extension
         point="org.eclipse.ui.handlers">
      <handler class="org.bundlemaker.core.ui.commands.BinaryBundleExportHandler"
            commandId="org.bundlemaker.core.ui.commands.BinaryBundleExportHandler">
         <activeWhen>
         <reference
               definitionId="org.bundlemaker.core.analysis.ui.bmContentSelected">
         </reference>
         </activeWhen>
         <enabledWhen>
          <reference
               definitionId="org.bundlemaker.core.analysis.ui.bmContentSelected">
               </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler class="org.bundlemaker.core.ui.commands.TransformHandler"
            commandId="org.bundlemaker.core.ui.commands.TransformHandler">
         <activeWhen>
         <reference
               definitionId="org.bundlemaker.core.analysis.ui.bmContentSelected">
         </reference>
         </activeWhen>
         <enabledWhen>
          <reference
               definitionId="org.bundlemaker.core.analysis.ui.bmRootArtifactSelected">
               </reference>
         </enabledWhen>
      </handler>
   </extension>    
   <extension
         point="org.eclipse.ui.handlers">
      <handler class="org.bundlemaker.core.ui.commands.RunTransformationScriptHandler"
            commandId="org.bundlemaker.core.ui.commands.RunTransformationScript">
         <activeWhen>
         	<or>
          <reference
               definitionId="org.bundlemaker.core.ui.bmtFileSelected" />
               <reference
                    definitionId="org.bundlemaker.core.transformations.dsl.TransformationDsl.Editor.opened"/>
          	</or>
         </activeWhen>
         <enabledWhen>
         	<or>
          <reference
               definitionId="org.bundlemaker.core.ui.bmtFileSelected" />
               <reference
                    definitionId="org.bundlemaker.core.transformations.dsl.TransformationDsl.Editor.opened"/>
          	</or>
         </enabledWhen>
      </handler>
   </extension>    

   <!-- the pop up menus -->
   <extension point="org.eclipse.ui.menus">
	   <menuContribution
	       locationURI="popup:org.bundlemaker.core.analysis.ui.ProjectExplorerPopupMenu">
	       <menu
              label="Export as..." >
            	<command commandId="org.bundlemaker.core.ui.commands.PdePluginProjectExportHandler"
              			 style="push" />
              <command commandId="org.bundlemaker.core.ui.commands.BinaryBundleExportHandler"
              			 style="push" />
              <command commandId="org.bundlemaker.core.ui.commands.ReportExportHandler"
              			 style="push" />
	       </menu>
	   </menuContribution> 
   </extension>

   <!-- the pop up menus -->
   <extension point="org.eclipse.ui.menus">
	   <menuContribution
	       locationURI="popup:org.bundlemaker.core.analysis.ui.ProjectExplorerPopupMenu">
            	<command commandId="org.bundlemaker.core.ui.commands.TransformHandler"
              			 style="push" />
              <command commandId="org.bundlemaker.core.ui.commands.RunTransformationScript"
              			 style="push" />
	   </menuContribution> 
   </extension>
   
   <!-- Add RunTransformation to Editor Popup Menu -->
      <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=additions">
             <command icon="icons/bundlemaker-icon-small.png"
                 commandId="org.bundlemaker.core.ui.commands.RunTransformationScript"
                 style="push"
                 tooltip="Execute this transformation on a selected BundleMaker project">
            <visibleWhen checkEnabled="true" />
         </command>  
         </menuContribution>
    </extension>
  
 

</plugin>
