<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
       point="org.eclipse.jdt.ui.javaElementFilters">
    <filter
          class="org.bundlemaker.core.ui.internal.JavaElementFilter"
          description="Filters any bundlemaker JDT project."
          enabled="true"
          pattern="*$JDT"
          id="org.bundlemaker.core.ui.internal.JavaElementFilter"
          name="BundleMaker$JDT project filter">
    </filter>
 </extension>
   <extension
         id="org.bundlemaker.core.ui.newWizards"
         name="Bundlemaker Wizards"
         point="org.eclipse.ui.newWizards">
      <category
            id="org.bundlemaker.core.ui.wizards.category"
            name="Bundlemaker">
      </category>
      <wizard
            canFinishEarly="false"
            category="org.bundlemaker.core.ui.wizards.category"
            class="org.bundlemaker.core.ui.wizards.NewBundleMakerProjectWizard"
            hasPages="true"
            icon="icons/bundlemaker-icon-small.png"
            id="org.bundlemaker.core.ui.wizards.newwizard"
            name="Bundlemaker project"
            project="true">
         <description>
            Create a Bundlemaker project
         </description>
      </wizard>
   </extension>
   <extension
         id="org.bundlemaker.core.ui.editors"
         name="Bundlemaker Editors"
         point="org.eclipse.ui.editors">
      <editor
            class="org.bundlemaker.core.ui.editor.ProjectDescriptionEditor"
            default="false"
            id="org.bundlemaker.core.ui.editor.projectdescription"
            name="Bundlemaker editor">
         <contentTypeBinding
               contentTypeId="org.bundlemaker.core.ui.contenttypes.projectdescription">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         id="org.bundlemaker.core.ui.contentTypes"
         name="Bundlemaker Contenttypes"
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-names="bundlemaker.xml"
            id="org.bundlemaker.core.ui.contenttypes.projectdescription"
            name="Bundlemaker project description"
            priority="normal">
      </content-type>
   </extension>
   
   <!-- the perspective -->
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.bundlemaker.core.ui.perspective.BundleMakerPerspectiveFactory"
            icon="icons/bundlemaker-icon-small.png"
            id="org.bundlemaker.core.ui.bundlemakerperspective"
            name="BundleMaker">
      </perspective>
   </extension>

</plugin>
