<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.bundlemaker.org/core/transformations/dsl/TransformationDsl" 
       class = "org.bundlemaker.core.transformations.dsl.transformationDsl.TransformationDslPackage"
       genModel = "org/bundlemaker/core/transformations/dsl/TransformationDsl.genmodel" /> 
	
  </extension>





</plugin>
