<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension-point id="exporter" name="exporter" schema="schema/exporter.exsd"/>
   <extension-point id="parserfactory" name="parserfactory" schema="schema/parserfactory.exsd"/>
   <extension-point id="org.bundlemaker.core.projectcontentprovider" name="org.bundlemaker.core.projectcontentprovider" schema="schema/org.bundlemaker.core.projectcontentprovider.exsd"/>

   <extension
         id="bundlemakernature"
         point="org.eclipse.core.resources.natures"
         name="BundleMaker Nature">
      <runtime>
         <run
               class="org.bundlemaker.core.internal.BundleMakerProjectNature">
         </run>
      </runtime>
   </extension>
   
   <extension
         id="org.bundlemaker.core.projectdescription.file.FileBasedContentProvider"
         point="org.bundlemaker.core.projectcontentprovider">
      <projectContentProvider
      	    id="org.bundlemaker.core.projectcontentprovider.file"
            class="org.bundlemaker.core.project.filecontent.FileBasedProjectContentProvider" />
   </extension>

	<!-- BundleMaker Classpath Container -->
	 <extension
	 point="org.eclipse.jdt.core.classpathContainerInitializer">
		<classpathContainerInitializer
	      class="org.bundlemaker.core.internal.classpath.BundleMakerClasspathContainerInitializer"
	      id="org.bundlemaker.core.classpath"/>
	 </extension>

</plugin>
