<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="BundleMaker Target">
<locations>
<location path="${project_loc:target.platform}/div" type="Directory"/>
<location path="${project_loc:target.platform}/bundlor-1.0.0.RELEASE" type="Directory"/>
<location path="${project_loc:target.platform}/slf4j-1.5.10" type="Directory"/>
<location path="${project_loc:target.platform}/miglayout-3.7.3.1" type="Directory"/>
<location path="${eclipse_home}" type="Profile"/>
<location path="${project_loc:target.platform}/AST-View" type="Directory"/>
<location path="${project_loc:target.platform}/drools-5.1.1" type="Directory"/>
<location path="${project_loc:target.platform}/easymock-3.0" type="Directory"/>
<location path="${project_loc:target.platform}/xtext/xtext" type="Directory"/>
<location path="${project_loc:target.platform}/xtext/emf" type="Directory"/>
</locations>
<environment>
<os>win32</os>
<ws>win32</ws>
<arch>x86</arch>
<nl>de_DE</nl>
</environment>
<launcherArgs>
<vmArgs>-Xms40m -Xmx256m</vmArgs>
</launcherArgs>
</target>
