<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.bundlemaker.analysis.ui.xref.views.BundlemakerXRefView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.bundlemaker.analysis.ui.dependencyView">
      <dependencyView
            class="org.bundlemaker.analysis.ui.xref.views.BundlemakerXRefView"
            name="XRefs">
      </dependencyView>
   </extension>

</plugin>
