<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension-point id="dependencyVisitors" 
   	name="Dependency Visitor"
   	schema="schema/org.bundlemaker.analysis.dependencyVisitors.exsd"
   />
   
   <extension-point	id="transformationModel"
   	name="Transformation Model"
   	schema="schema/org.bundlemaker.analysis.transformationModel.exsd"
   />
   
   <extension-point id="dependencyViolations"
   	name="Dependency Violations"
   	schema="schema/org.bundlemaker.analysis.dependencyViolations.exsd"
   />

</plugin>
