<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
              <view
                category="org.bundlemaker.analysis.ui.views.category"
                class="org.bundlemaker.analysis.ui.dependencyview.DependencyView"
                id="org.bundlemaker.analysis.ui.dependencyview.DependencyView"
                name="Type/Resource Dependencies"
                restorable="true">
				</view>
   </extension>

</plugin>
