<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="BundleMaker Target">
<locations>
<location path="${project_loc:target.platform}/draw2d" type="Directory"/>
<location path="${project_loc:target.platform}/test/easymock-3.0" type="Directory"/>
<location path="${eclipse_home}" type="Profile"/>
<location path="${project_loc:target.platform}/xtext-1.0.1" type="Directory"/>
<location path="${project_loc:target.platform}/slf4j-1.5.10" type="Directory"/>
<location path="${project_loc:target.platform}/bundlor-1.0.0.RELEASE" type="Directory"/>
<location path="${project_loc:target.platform}/test/cglib" type="Directory"/>
<location path="${project_loc:target.platform}/asm" type="Directory"/>
</locations>
<launcherArgs>
<vmArgs>-Xms40m -Xmx256m</vmArgs>
</launcherArgs>
</target>
