<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Selection Stage"
            icon="icons/sample.gif"
            category="org.bundlemaker.core.ui.views"
            class="org.bundlemaker.core.ui.stage.StageView"
            id="org.bundlemaker.core.ui.stage.StageView">
      </view>
   </extension>

</plugin>
