<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
              	    <view
                category="org.bundlemaker.analysis.ui.views.category"
                class="org.bundlemaker.analysis.ui.view.table.DependencyTreeTableView"
                icon="icons/osgibundle.gif"
                id="org.bundlemaker.analysis.ui.view.table.DependencyTreeTableView"
                name="Dependency View"
                restorable="true">
				</view>
         
   </extension>

   <extension-point id="dependencyTreeTableListener"
   	name="dependencyTreeTableListener"
   	schema="schema/org.bundlemaker.analysis.ui.dependencyTreeTableListener.exsd"/>

</plugin>
