<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension-point id="dependencyView"
   	name="dependencyView"
   	schema="schema/org.bundlemaker.analysis.ui.dependencyView.exsd"/>

   <extension-point id="dependencyTreeTableListener"
   	name="dependencyTreeTableListener"
   	schema="schema/org.bundlemaker.analysis.ui.dependencyTreeTableListener.exsd"/>

   <!-- the IArtifact property tester -->
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester id="org.bundlemaker.analysis.ui.expressions.ArtifactPropertyTester"
            class="org.bundlemaker.analysis.ui.expressions.ArtifactPropertyTester"
            namespace="org.bundlemaker.analysis.ui.expressions.IArtifact"
            properties="type"
            type="org.bundlemaker.analysis.model.IArtifact">
      </propertyTester>
   </extension>
   
   <!-- the expression definitions -->
   
   <!-- org.bundlemaker.analysis.ui.bmContentSelected: evaluates
        to true if all  of the selected elements are IArtifact -->
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.bundlemaker.analysis.ui.artifactContentSelected">
            <with
                  variable="selection">
                  <iterate ifEmpty="false" operator="and">
                  <instanceof
                        value="org.bundlemaker.analysis.model.IArtifact">
                  </instanceof>
                  </iterate>
            </with>
      </definition>
   </extension>

   <!-- org.bundlemaker.analysis.ui.bmContentSelected: evaluates
        to true if all selected elements are Root-IArtifacts (i.e. ModularizedSystems) -->
    <extension
       point="org.eclipse.core.expressions.definitions">
    <definition
          id="org.bundlemaker.analysis.ui.rootArtifactContentSelected">
          <with
                variable="selection">
                <iterate ifEmpty="false" operator="and">
                <instanceof
                      value="org.bundlemaker.analysis.model.IArtifact">
                </instanceof>
                <test property="org.bundlemaker.analysis.ui.expressions.IArtifact.type" value="Root" 
                	forcePluginActivation="true"/>
                </iterate>
          </with>
    </definition>
   </extension> 

   <extension
         point="org.eclipse.ui.views">
           <category
           id="org.bundlemaker.analysis.ui.views.category"
           name="BundleMaker Dependency Analysis">
      	   </category>
      	    <view
                category="org.bundlemaker.analysis.ui.views.category"
                class="org.bundlemaker.analysis.ui.view.table.DependencyTreeTableView"
                icon="icons/osgibundle.gif"
                id="org.bundlemaker.analysis.ui.view.table.DependencyTreeTableView"
                name="Dependency View"
                restorable="true">
				</view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.bundlemaker.analysis.ui.editor.GenericEditor"
            default="false"
            icon="icons/module.gif"
            id="org.bundlemaker.analysis.ui.editor.GenericEditor"
            name="Dependency Analysis">
      </editor>
   </extension>
   
      <extension point="org.eclipse.ui.menus">
	   <menuContribution
	       locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
	       <menu
	       		icon="icons/bundlemaker-icon-small.png" 
	       		id="org.bundlemaker.analysis.ui.ProjectExplorerPopupMenu"
              label="BundleMaker" >
           <visibleWhen
                 checkEnabled="true" />
	       </menu>
	   </menuContribution> 
   </extension>
   
   

</plugin>
