<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <!-- the pop up menus -->
      <extension point="org.eclipse.ui.commands">
            <command id="org.bundlemaker.core.ui.experimental.commands.CreateNewWorkingCopyCommand"
                  name="Create new Working Copy"/>
      </extension>

      <extension point="org.eclipse.ui.handlers">
            <handler class="org.bundlemaker.core.ui.experimental.handlers.CreateNewWorkingCopyHandler"
                  commandId="org.bundlemaker.core.ui.experimental.commands.CreateNewWorkingCopyCommand">
                  <enabledWhen>
                        <reference
                              definitionId="org.bundlemaker.analysis.ui.singleRootArtifactSelected"
                        > </reference>
                  </enabledWhen>
            </handler>
      </extension>


      <!-- ProjectExplorer Menu Entry -->
      <extension point="org.eclipse.ui.menus">
            <menuContribution
                  locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=org.bundlemaker.core.ui.artifacts.separator">
                  <command
                        commandId="org.bundlemaker.core.ui.experimental.commands.CreateNewWorkingCopyCommand"
                        style="push">
					<visibleWhen checkEnabled="false">
						<reference
							definitionId="org.bundlemaker.analysis.ui.artifactContentSelected" />
					</visibleWhen>
				</command>
            </menuContribution>
      </extension>


</plugin>
