<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <!-- the commands -->
  <extension point="org.eclipse.ui.commands">

    <command id="org.bundlemaker.core.ui.transformation.commands.RunTransformationScriptCommand"
      name="Run Transformation Script"/>
      
	<command id="org.bundlemaker.core.ui.transformations.commands.RunAsTransformationScriptCommand"
		name="Run as Transformation Script" 
		/>      

    <command id="org.bundlemaker.core.ui.transformation.commands.AddToInitialTransformationsCommand"
      name="Set as Initial Transformation"/>

    <command
      id="org.bundlemaker.core.ui.transformation.commands.EnableTransformationScriptSupportCommand"
      name="Enable Transformation Script Support"/>

    <command
      id="org.bundlemaker.core.ui.transformation.commands.DisableTransformationScriptSupportCommand"
      name="Disable Transformation Script Support"/>

    <command id="org.bundlemaker.core.ui.transformation.commands.ResetTransformationsCommand"
      name="Reset Transformations"/>
  </extension>

  <!-- the handlers -->
  <extension point="org.eclipse.ui.handlers">

    <handler class="org.bundlemaker.core.ui.transformations.handlers.RunTransformationScriptHandler"
      commandId="org.bundlemaker.core.ui.transformation.commands.RunTransformationScriptCommand">
      <activeWhen>
        <reference definitionId="org.bundlemaker.analysis.ui.artifactContentSelected"> </reference>
      </activeWhen>
      <enabledWhen>
        <reference definitionId="org.bundlemaker.analysis.ui.artifactContentSelected"> </reference>
      </enabledWhen>
    </handler>

    <handler class="org.bundlemaker.core.ui.transformations.handlers.ResetTransformationsHandler"
      commandId="org.bundlemaker.core.ui.transformation.commands.ResetTransformationsCommand">
      <activeWhen>
        <reference definitionId="org.bundlemaker.analysis.ui.artifactContentSelected"> </reference>
      </activeWhen>
      <enabledWhen>
        <reference definitionId="org.bundlemaker.analysis.ui.artifactContentSelected"> </reference>
      </enabledWhen>
    </handler>

    <handler
      class="org.bundlemaker.core.ui.transformations.handlers.SetInitialTransformationsHandler"
      commandId="org.bundlemaker.core.ui.transformation.commands.AddToInitialTransformationsCommand">
      <activeWhen>
        <with variable="selection">
          <iterate ifEmpty="false" operator="and">
           <or>
				<instanceof value="org.eclipse.jdt.core.ICompilationUnit" />
				<instanceof value="org.eclipse.jdt.core.IType" />
			</or>
          </iterate>
        </with>
      </activeWhen>
      <enabledWhen>
        <with variable="selection">
          <iterate ifEmpty="false" operator="and">
            <or>
				<instanceof value="org.eclipse.jdt.core.ICompilationUnit" />
				<instanceof value="org.eclipse.jdt.core.IType" />
			</or>
          </iterate>
        </with>
      </enabledWhen>
    </handler>
    
    <!-- org.bundlemaker.core.ui.transformations.handlers.RunAsTransformationScriptHandler -->
    <handler
      class="org.bundlemaker.core.ui.transformations.handlers.RunAsTransformationScriptHandler"
      commandId="org.bundlemaker.core.ui.transformations.commands.RunAsTransformationScriptCommand">
      <activeWhen>
		<with variable="selection">
			<count value="1" />
			<iterate ifEmpty="false" operator="and">
				<or>
					<instanceof value="org.eclipse.jdt.core.ICompilationUnit" />
					<instanceof value="org.eclipse.jdt.core.IType" />
				</or>
			</iterate>
		</with>

      </activeWhen>
      <enabledWhen>
		<with variable="selection">
			<count value="1" />
			<iterate ifEmpty="false" operator="and">
				<or>
					<instanceof value="org.eclipse.jdt.core.ICompilationUnit" />
					<instanceof value="org.eclipse.jdt.core.IType" />
				</or>
			</iterate>
		</with>

      </enabledWhen>      
    </handler>
    <handler
      class="org.bundlemaker.core.ui.transformations.handlers.EnableTransformationScriptNatureHandler"
      commandId="org.bundlemaker.core.ui.transformation.commands.EnableTransformationScriptSupportCommand">
      <activeWhen>
        <with variable="selection">
          <iterate ifEmpty="false" operator="and">
            <adapt type="org.eclipse.core.resources.IProject">
              <and>
                <test property="org.eclipse.core.resources.projectNature"
                  value="org.bundlemaker.core.bundlemakernature"/>
                <not>
                  <test property="org.eclipse.core.resources.projectNature"
                    value="org.bundlemaker.core.ui.transformations.transformationScriptNature"/>
                </not>
              </and>
            </adapt>
          </iterate>
        </with>
      </activeWhen>
      <enabledWhen>
        <with variable="selection">
          <iterate ifEmpty="false" operator="and">
            <adapt type="org.eclipse.core.resources.IProject">
              <and>
                <test property="org.eclipse.core.resources.projectNature"
                  value="org.bundlemaker.core.bundlemakernature"/>
                <not>
                  <test property="org.eclipse.core.resources.projectNature"
                    value="org.bundlemaker.core.ui.transformations.transformationScriptNature"/>
                </not>
              </and>
            </adapt>
          </iterate>
        </with>
      </enabledWhen>
    </handler>
  </extension>

  <!--  the menus -->
  <extension point="org.eclipse.ui.menus">
    <menuContribution
      locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=org.bundlemaker.core.ui.transformations">
      <command
        commandId="org.bundlemaker.core.ui.transformation.commands.RunTransformationScriptCommand"
        style="push"
         icon="icons/run-as-transformation-script.png">
        <visibleWhen checkEnabled="true"/>
      </command>
      <command
        commandId="org.bundlemaker.core.ui.transformations.commands.RunAsTransformationScriptCommand"
        style="push"
        icon="icons/run-as-transformation-script.png">
        <visibleWhen checkEnabled="true"/>
      </command>      
      <command
        commandId="org.bundlemaker.core.ui.transformation.commands.ResetTransformationsCommand"
        style="push"
        icon="icons/reset-transformations.png">
        <visibleWhen checkEnabled="true"/>
      </command>
      <command
        commandId="org.bundlemaker.core.ui.transformation.commands.AddToInitialTransformationsCommand"
        style="push">
        <visibleWhen checkEnabled="true"/>
      </command>
    </menuContribution>

    <menuContribution locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
      <command
        commandId="org.bundlemaker.core.ui.transformation.commands.EnableTransformationScriptSupportCommand"
        style="push">
        <visibleWhen checkEnabled="true"/>
      </command>
      <command
        commandId="org.bundlemaker.core.ui.transformation.commands.DisableTransformationScriptSupportCommand"
        style="push">
        <visibleWhen checkEnabled="true"/>
      </command>
    </menuContribution>
  </extension>

  <!-- consoleFactories -->
  <extension point="org.eclipse.ui.console.consoleFactories">
    <consoleFactory label="BundleMaker Transformation Script Console"
      class="org.bundlemaker.core.ui.transformations.console.TransformationScriptConsoleFactory"/>
  </extension>

  <!-- the nature -->
  <extension id="org.bundlemaker.core.ui.transformations.transformationScriptNature"
    name="org.bundlemaker.core.ui.transformations.transformationScriptNature"
    point="org.eclipse.core.resources.natures">
    <runtime>
      <run class="org.bundlemaker.core.ui.transformations.TransformationScriptNature"/>
    </runtime>
  </extension>

</plugin>
