<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Transformation History"
            icon="icons/history-view.png"
            category="org.bundlemaker.core.ui.views"
            class="org.bundlemaker.core.ui.transformations.history.view.HistoryView"
            id="org.bundlemaker.core.ui.transformations.history.view.HistoryView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.bundlemaker.core.ui.app.perspective">
         <view
               id="org.bundlemaker.core.ui.transformations.history.view.HistoryView"
               ratio="0.5"
               relationship="stack"
               relative="org.bundlemaker.core.ui.view.problemview.ProblemView"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
