<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="BundleMaker Target Definition" sequenceNumber="86">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.virgo.bundlor.feature.group" version="1.1.2.RELEASE"/>
<unit id="org.bundlemaker.com.db4o.feature.feature.group" version="8.0.184.15484"/>
<unit id="org.bundlemaker.com.google.feature.feature.group" version="1.0.0"/>
<unit id="org.bundlemaker.com.tinkerpop.feature.feature.group" version="2.2.0"/>
<unit id="org.bundlemaker.testlibs.feature.feature.group" version="1.0.0"/>
<repository location="http://www.bundlemaker.org/p2-thirdparty"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.draw2d.source.feature.group" version="3.9.0.201305060205"/>
<unit id="org.eclipse.draw2d.feature.group" version="3.9.0.201305060205"/>
<repository location="http://download.eclipse.org/tools/gef/updates/releases/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="4.3.0.I20130605-2000"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
</locations>
<environment>
<nl>de_DE</nl>
</environment>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.6"/>
<launcherArgs>
<vmArgs>-Xms40m -Xmx384m</vmArgs>
</launcherArgs>
</target>
