<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.ui.views">
    <view
          category="org.bundlemaker.core.ui.views"
          class="org.bundlemaker.core.ui.view.dependencytree.DependencyTreeView"
          icon="icons/dependency-tree-small.png"
          id="org.bundlemaker.core.ui.view.dependencytree.DependencyTreeView"
          name="Dependencies Tree"
          restorable="true"> </view>
  </extension>

</plugin>
