<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- -->
   <extension point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent activeByDefault="true"
         contentProvider="org.bundlemaker.core.analysis.ui.view.navigator.ArtifactTreeContentProvider"
         icon="icons/navigator/root.gif" id="org.bundlemaker.core.analysis.ui.navigatorContent1"
         labelProvider="org.bundlemaker.core.analysis.ui.view.navigator.ArtifactTreeLabelProvider"
         name="artifactContent" priority="lowest">
         <triggerPoints>
            <and>
               <instanceof value="org.eclipse.core.resources.IProject"> </instanceof>
               <adapt type="org.eclipse.core.resources.IProject">
                  <test property="org.eclipse.core.resources.projectNature"
                     value="org.bundlemaker.core.bundlemakernature"/>
               </adapt>
            </and>
         </triggerPoints>
      </navigatorContent>
   </extension>

   <!-- the navigator content-->
   <extension point="org.eclipse.ui.navigator.viewer">
      <viewer viewerId="org.eclipse.ui.navigator.ProjectExplorer"> </viewer>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension isRoot="false"
               pattern="org.bundlemaker.core.analysis.ui.navigatorContent1"> </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>

    <!-- the pop up menus -->
   <extension point="org.eclipse.ui.menus">
	   <menuContribution
	       locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
	       <menu id="org.bundlemaker.core.analysis.ui.ProjectExplorerPopupMenu"
              label="BundleMaker" >
            	<command commandId="org.bundlemaker.core.ui.commands.Demo"
              			 style="push">
           <visibleWhen
                 checkEnabled="true" />
	       </command>
	       </menu>
	   </menuContribution> 
   </extension>

   <!-- the commands -->
   <extension point="org.eclipse.ui.commands">
      <command id="org.bundlemaker.core.ui.commands.Demo" name="Demo" /> 
   </extension>
   
   <!-- the expression definitions -->
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.bundlemaker.core.analysis.ui.bmContentSelected">
            <with
                  variable="selection">
                  <iterate ifEmpty="false" operator="or">
                  <instanceof
                        value="org.bundlemaker.dependencyanalysis.base.model.IArtifact">
                  </instanceof>
                  </iterate>
            </with>
      </definition>
   </extension>
   
   <!-- the handlers -->
   <extension
         point="org.eclipse.ui.handlers">
      <handler class="org.bundlemaker.core.analysis.ui.commands.DemoHandler"
            commandId="org.bundlemaker.core.ui.commands.Demo">
         <activeWhen>
         <reference
               definitionId="org.bundlemaker.core.analysis.ui.bmContentSelected">
         </reference>
         </activeWhen>
         <enabledWhen>
          <reference
               definitionId="org.bundlemaker.core.analysis.ui.bmContentSelected">
               </reference>
         </enabledWhen>
      </handler>
   </extension> 
   
</plugin>
