<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

      <!-- org.eclipse.ui.preferencePages -->
      <extension point="org.eclipse.ui.preferencePages">
            <page id="MvnRepositoriesPreferencePage" name="Mvn Content Provider"
                  class="org.bundlemaker.core.ui.mvn.MvnRepositoriesPreferencePage"
                  category="org.bundlemaker.core.ui.preferences.page.contentprovider"> </page>
      </extension>

      <extension point="org.eclipse.ui.propertyPages">
            <page
                  category="org.bundlemaker.core.ui.property.page"
                  class="org.bundlemaker.core.ui.mvn.MvnContentProviderPropertyPage"
                  id="org.bundlemaker.core.ui.mvn.MvnContentProviderPropertyPage"
                  name="Mvn Content Provider"> 
               <enabledWhen>
                  <and>
                     <instanceof value="org.eclipse.core.resources.IProject" />
                     <adapt type="org.eclipse.core.resources.IResource">
                       <test property="org.eclipse.core.resources.projectNature"
                             value="org.bundlemaker.core.bundlemakernature" />
    				 </adapt>
                  </and>
               </enabledWhen>
          </page> 
      </extension>

      <!-- org.bundlemaker.core.ui.projecteditor -->
      <extension id="fileBasedContentProviderEditor" point="org.bundlemaker.core.ui.projecteditor">
            <provider-editor class="org.bundlemaker.core.ui.mvn.MvnProjectContentProviderEditor"/>
            <new-wizard-contribution
                  class="org.bundlemaker.core.ui.mvn.MvnContentProviderWizardContribution"/>
      </extension>
      

</plugin>
