<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="org.bundlemaker.core.ui.mvn.internal.preference.MvnPropertyAndPreferencePage"
          id="org.bundlemaker.core.ui.mvn.preferences"
          name="Maven Settings"
          category="org.bundlemaker.core.ui.preferences.bundlemakerpage" />
 </extension>
 
  <extension
         point="org.eclipse.ui.propertyPages">
      <page
          class="org.bundlemaker.core.ui.mvn.internal.preference.MvnPropertyAndPreferencePage"
          id="org.bundlemaker.core.ui.mvn.properties"
          name="Maven Settings"
          category="org.bundlemaker.core.ui.property.bundlemakerpage">
        <enabledWhen>
          <and>
            <or>
              <instanceof value="org.eclipse.core.resources.IProject" />
              <instanceof value="org.eclipse.jdt.core.IJavaProject" />
            </or>
            <adapt type="org.eclipse.core.resources.IProject">
              <test property="org.eclipse.core.resources.projectNature"
                    value="org.bundlemaker.core.bundlemakernature"/>
            </adapt>
          </and>
        </enabledWhen>
      </page>
  </extension>

      <!-- org.bundlemaker.core.ui.projecteditor -->
      <extension id="fileBasedContentProviderEditor" point="org.bundlemaker.core.ui.projecteditor">
            <provider-editor class="org.bundlemaker.core.ui.mvn.MvnProjectContentProviderEditor"/>
            <new-wizard-contribution
                  class="org.bundlemaker.core.ui.mvn.MvnContentProviderWizardContribution"/>
      </extension>
      

</plugin>
